<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    
    <link rel="import" href="/sitedata/bower_components/polymer/polymer.html">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <paper-toolbar>
        <paper-icon-button icon="menu"></paper-icon-button>
        <span class="title">Title</span>
        <paper-icon-button icon="refresh"></paper-icon-button>
        <paper-icon-button icon="add">+</paper-icon-button>
      </paper-toolbar>
    </header>
  </body>
</html>
