<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="import" href="/sitedata/shadowdom.html">
    <style is="custom-style" include="iron-positioning"></style>

  </head>
  <body class="fullbleed">
    <paper-toast id="offlineToast" duration="5000" text="You can now use this website offline!"></paper-toast>
    <header class="header">
<paper-header-panel>
      <paper-toolbar>
        <paper-menu-button>
          <paper-icon-button icon="menu" class="dropdown-trigger" alt="menu"></paper-icon-button>
          <paper-menu class="dropdown-content">
            <paper-item>Item</paper-item>
            <paper-item>Item</paper-item>
          </paper-menu>
        </paper-menu-button>
        <span class="title">Title</span>
        <paper-icon-button icon="refresh"></paper-icon-button>
        <paper-icon-button icon="add">+</paper-icon-button>
        <paper-progress class="middle fit" value="100"></paper-progress>
      </paper-toolbar>
</paper-header-panel>
    </header>
      
      
      <paper-button raised onclick="offlineToast.open()">Notify About Offline Mode</paper-button>

      <paper-button>link</paper-button>
      <paper-button raised>raised</paper-button>
      <paper-button toggles raised>toggles</paper-button>
      <paper-button disabled>disabled</paper-button>
      {{ content }}
  </body>
</html>
